<!DOCTYPE html>
<html>
  <head>
    <title>ZooTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('fav.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="ZooTube" />
    <meta property="og:image" content="<%= image_url('featured_link_img.png') %>" />
    <meta property="og:description" content="An animal-themed YouTube clone built with a Rails backend and a React/Redux frontend" />
    <meta property="og:url" content="https://zootube.herokuapp.com/#/" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      window.defaultThumbnailURL = "https://zootube-pro.s3-us-west-1.amazonaws.com/default_thumbnail.jpeg";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
