<!DOCTYPE html>
<html>
  <head>
    <title>ZooTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('fav.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      window.defaultThumbnailURL = "https://zootube-pro.s3-us-west-1.amazonaws.com/default_thumbnail.jpeg";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
